/** ------------------------------------------ **/
/**                COLORS                      **/
/** ------------------------------------------ **/
#header__nav img {
		max-width: 60px;
}

#tickets {
		color: #97c93e;
}

#footer {
		background: -webkit-gradient(linear, left top, right top, from(#1c3643), color-stop(25%, #273b47), to(#1e5372));
		background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}
#footer a {
		color: white;
		text-decoration: none;
}

main .carousel-inner img {
		max-height: 70vh;
		-o-object-fit: cover;
		   object-fit: cover;
		-webkit-filter: grayscale(70%);
		        filter: grayscale(70%);
}

.carousel-item {
		-webkit-transition: opacity 0.5s ease-out, -webkit-transform 3s ease;
		transition: opacity 0.5s ease-out, -webkit-transform 3s ease;
		transition: transform 3s ease, opacity 0.5s ease-out;
		transition: transform 3s ease, opacity 0.5s ease-out, -webkit-transform 3s ease;
}